titulo{
    color:aquamarine;
    text-align:center;
    background-color:black;
}

texto{
      font-family:'Times New Roman', Times, serif;
      font-size:15pt;
      text-align:justify;
}