titulo{
    color:aquamarine;
    text-align:center;
    background-color:black;
}

texto{
      font-family:'Times New Roman', Times, serif;
      font-size:15pt;
      text-align:justify;
}


titulo2{
    color:rgb(127, 138, 255);
    text-align:right;
    background-color:rgb(206, 167, 11);
}

texto2{
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
      font-size:20pt;
      text-align:left;
}


titulo3{
    color:rgb(202, 27, 27);
    text-align:start
    background-color:rgb(81, 17, 100);
}

texto3{
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
      font-size:28pt;
      text-align:right;
}